@import './variables.scss';

:root {
  font-family: Inter, sans-serif;
}

// Define variables

body {
  font-size: 1.4em;
}

header > .info {
  color: $primary-color;
  align-items: start;
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  column-gap: $margin;
}
