@import "./variables.scss";

// Font Import

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  margin: $margin * 2;
  background-color: $bg;
}

// Define variables

body {
  font-size: 1.1em;
  max-width: 1200px;
  margin: 0 auto;
}

header > .info {
  color: $primary-color;
  display: block; // Default to block layout for smaller screens

  @media (min-width: $breakpoint) {
    align-items: start;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 3fr 3fr 3fr;
    column-gap: $margin * 2;
    justify-content: start;

    > :nth-child(3n) {
      justify-self: end;
    }
  }
}

// Layout

hr {
  margin: $margin * 2 0;
  color: $primary-color;
  background-color: black;
  height: 1px;
}

main {
  margin: $margin * 4 0;
}

details {
  margin: $margin * 2 0;
}

// Collapsible


summary {
  display: flex;
  flex-direction: row;
  // gap: $margin * 0.15;
  justify-content: space-between;
}

details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details summary h3 span::after {
  content: "↓";
}

details[open] summary h3 span::after {
  content: "↑";
}

details[open] summary {
  color: $red-accent-80
}

details[open] .session-detail {
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
}

summary {
  display: flex;
  cursor: pointer;
  margin: $margin 0;
}


summary::-webkit-details-marker {
  display: none;
}

details {
  user-select: none;
}

.session-detail {
  display: flex;
  flex-direction: column;
  gap: $margin;
}

// Type

h1 {
  font-size: 4rem;
  text-align: left;
  letter-spacing: -0.2rem;
  
  
}

.info {
  font-size: 1.2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.2rem;
  color: $red-accent;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: $margin * 0.1;
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: $margin * 0.1;
}

// Links

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding-left: $margin;
}

ol > li {
  margin: $margin*0.1 0;
}

ol > li::before {
  content: "· "
} 

a {
  text-decoration: none;
  color: $primary-color;
}

a:hover {
  // color: $blue-accent;
}

a::after {
  content: "↗";
  margin-left: 4px;
}

// title animation

