$primary-color: #333;
$blue-accent: #15039d;
$bg: rgba(119, 178, 167, 0.15);
$red-accent: #D64130;
$red-accent-80: hsla(6, 67%, 51%, 0.8);
$red-accent-60: hsla(6, 67%, 51%, 0.6);

$breakpoint: 50em;
$margin: 16px;