/* Font Import */

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Define variables equivalent values */
:root {
  --primary-color: #333;
  --blue-accent: #15039d;
  --bg: rgba(178, 167, 119, 0.05);
  --red-accent: #D64130;
  --red-accent-80: hsla(6, 67%, 51%, 0.8);
  --red-accent-60: hsla(6, 67%, 51%, 0.6);
  --margin: 16px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  margin: calc(var(--margin) * 2);
  background-color: var(--bg);
}

/* --breakpoint: 50em; */

body {
  font-size: 1.1em;
  max-width: 1200px;
  margin: 0 auto;
}

header > .info {
  color: var(--primary-color);
  display: block; /* Default to block layout for smaller screens */
}

@media (min-width: 50em) {
  header > .info {
    align-items: start;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 3fr 3fr 3fr;
    column-gap: calc(var(--margin) * 2);
    justify-content: start;
  }
  
  header > .info > :nth-child(3n) {
    justify-self: end;
  }
}

/* Layout */

hr {
  margin: calc(var(--margin) * 2) 0;
  color: var(--primary-color);
  background-color: black;
  height: 1px;
}

main {
  margin: calc(var(--margin) * 4) 0;
}

details {
  margin: calc(var(--margin) * 2) 0;
}

/* Entries Layout */

.invisibleMessage {
  display: none;
}

@media only screen and (max-width: 50em) {
  .invisibleMessage {
    display: block;
  }
}

.harmonic-collection-entries {
  
  margin: calc(var(--margin) * 4) 0;
}

@media (min-width: 50em) {
  .harmonic-collection-entries {
    display: flex;
    flex-direction: column;
    gap: calc(var(--margin)*1);

  }
}

/* Collapsible */

summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

details > summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}

details summary h3 span::after {
  content: "↓";
}

details[open] summary h3 span::after {
  content: "↑";
}

details[open] summary {
  color: var(--red-accent-80);
}

details[open] .session-detail {
  animation: sweep 1s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

summary {
  display: flex;
  cursor: pointer;
  margin: var(--margin) 0;
}

summary::-webkit-details-marker {
  display: none;
}

details {
  user-select: none;
}

.session-detail {
  display: flex;
  flex-direction: column;
  gap: var(--margin);
}

.demo-item {
  margin: var(--margin) 0;
}

/* Type */

h1 {
  font-size: 4rem;
  text-align: left;
  letter-spacing: -0.2rem;
}

.info {
  font-size: 1.2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.2rem;
  color: var(--red-accent);
  text-transform: uppercase;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: calc(var(--margin) * 0.1);
}

h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: calc(var(--margin) * 0.1);
}

/* Links */

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

ol {
  list-style-type: none;
  margin: 0;
  padding-left: var(--margin);
}

ol > li {
  margin: calc(var(--margin) * 0.1) 0;
}

ol > li::before {
  content: "· ";
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a::after {
  content: "↗";
  margin-left: 4px;
}

a:hover {
  color: var(--red-accent)
}

/* Title animation */

.questionOne:hover::after {
  content: "How relaxed do you feel in this moment?";
  animation-name: fadeIn;
  animation-duration: 5s;
}

.questionOne::after {
  content: "Today's question";
}


.questionTwo {
  opacity: 1; /* Start invisible */
  transition: opacity 2s ease-in-out; /* Fade-in effect */
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Input */

input[type=text] {
  padding: 6px;
  margin: 0 8px 8px 0;
  border: 1px black solid;
  border-radius: 4px;
  background-color: transparent;
}

button#submitButton {
  padding: 6px;
  border-radius: 4px;
  border: 1px black solid;
  background-color: transparent;
}

button#submitButton:active {
  background-color: var(--red-accent-60);
}
